<nav class="navbar">
    <div class="logo-container">
        <img src="assets/images/logo.svg">
    </div>
    <div class="nav-items">
       
        <ul>
            <li>
                Products
            </li>
            <li>
                Playbook
            </li>
            <li>
                Pricing
            </li>
            <li>
                Company
            </li>
        </ul>
      <div>
        <button class="btn-signin">Sign In</button>
        <button class="btn-start">Start Now</button>
    </div>
   
        <img src="assets/images/menu.png" alt="hamburger menu">
        
   
   
    
    </div>
   
  
</nav>
