<footer>
    <div class="main-container">
    <div class="container1">
        <div class="column">
            <h4>Products</h4>
            <span>ScheduleOnce</span>
            <span>ChatOnce</span>
            <span>SubmitOnce</span>

        </div>
        <div class="column">
            <h4>Solutions by Industry</h4>
            <span>ScheduleOnce</span>
            <span>ChatOnce</span>
            <span>SubmitOnce</span>
            <span>ScheduleOnce</span>
            <span>ChatOnce</span>
            <span>SubmitOnce</span>

        </div>
        <div class="column">
            <h4>Solutions by Role</h4>
            <span>ScheduleOnce</span>
            <span>ChatOnce</span>
            <span>SubmitOnce</span>
            <span>ScheduleOnce</span>
            <span>ChatOnce</span>
            <span>SubmitOnce</span>

        </div>
        <div class="column">
            <h4>Company</h4>
            <span>ScheduleOnce</span>
            <span>ChatOnce</span>
            <span>SubmitOnce</span>

        </div>
        <div class="column">
            <h4>Resources</h4>
            <span>ScheduleOnce</span>
            <span>ChatOnce</span>
            <span>SubmitOnce</span>

        </div>
       
    </div>
    <div class="border-bottom"></div>
<div class="container2">
    <div class="column">
<img src="assets/images/fav-icon-footer.svg" alt="oncehub">
<span>Privacy Notice</span>
<span>© Copyright OnceHub 2022. All rights reserved.</span>
    </div>
    <div class="column">
        <span>icons</span>

    </div>
    </div>

</div>
</footer>