<footer>
    <div class="main-container">
    <div class="container1">
        <div class="column">
            <h4>Products</h4>
            <a>ScheduleOnce</a>
            <a>ChatOnce</a>
            <a>SubmitOnce</a>
            <a>FormOnce</a>

        </div>
        <div class="column">
            <h4>Solutions by Industry</h4>
            <a>B2B Saas</a>
            <a>Financial Services</a>
            <a>Consulting</a>
            <a>Medical & Health</a>
            <a>Fitness & Lifestyle</a>
            <a>Education</a>

        </div>
        <div class="column">
            <h4>Solutions by Role</h4>
            <a>Marketing</a>
            <a>Customer</a>
            <a>Onboarding</a>
            <a>Service & Support</a>
            <a>Talent Acquisition</a>

        </div>
        <div class="column">
            <h4>Company</h4>
            <a>About</a>
            <a>Contact</a>
            <a>Careers</a>
            <a>Blogs</a>
            <a>Resources</a>

        </div>
        <div class="column">
            <h4>Resources</h4>
            <a>Support Centers</a>
            <a>Trust Centers</a>
            <a>Webinars</a>
            <a>Developers</a>
            <a>System Status</a>

        </div>
       
    </div>
    <div class="border-bottom"></div>
<div class="container2">
    <div class="column">
<img src="assets/images/fav-icon-footer.svg" alt="oncehub">
<a>Privacy Notice</a>
<a>© Copyright OnceHub 2022. All rights reserved.</a>
    </div>
    <div class="column">
        <a>icons</a>

    </div>
    </div>

</div>
</footer>