<app-navbar></app-navbar>
<header>
  <h1>Don't keep your leads waiting</h1>
  <h3>Capture, qualify, and engage with inbound leads in minutes, not days</h3>
  <h4>78% of customers buy from the company that responds first</h4>
  <div class="banner-container">
    <img src="assets/images/banner.svg" />
  </div>
</header>
<div class="border-bottom"></div>

<div class="second-container">
  <h2>The lead acceleration platform used by top revenue teams</h2>
  <div class="company-container">
    <div class="row">
      <div class="img-container">
        <img src="assets/images/company.webp" alt="company1" />
      </div>

      <div class="img-container">
        <img src="assets/images/company.webp" alt="company2" />
      </div>

      <div class="img-container">
        <img src="assets/images/company.webp" alt="company3" />
      </div>

      <div class="img-container">
        <img src="assets/images/company.webp" alt="company4" />
      </div>

      <div class="img-container">
        <img src="assets/images/company.webp" alt="company5" />
      </div>

      <div class="img-container">
        <img src="assets/images/company.webp" alt="company6" />
      </div>

      <div class="img-container">
        <img src="assets/images/company.webp" alt="company7" />
      </div>

      
      <div class="img-container">
        <img src="assets/images/company.webp" alt="company6" />
      </div>

      <div class="img-container">
        <img src="assets/images/company.webp" alt="company7" />
      </div>
    </div>

    <div class="row">
      <div class="img-container">
        <img src="assets/images/company.webp" alt="company8" />
      </div>

      <div class="img-container">
        <img src="assets/images/company.webp" alt="company9" />
      </div>

      <div class="img-container">
        <img src="assets/images/company.webp" alt="company10" />
      </div>

      <div class="img-container">
        <img src="assets/images/company.webp" alt="company11" />
      </div>

      <div class="img-container">
        <img src="assets/images/company.webp" alt="company12" />
      </div>

      <div class="img-container">
        <img src="assets/images/company.webp" alt="company13" />
      </div>

      <div class="img-container">
        <img src="assets/images/company.webp" alt="company14" />
      </div>

      
      <div class="img-container">
        <img src="assets/images/company.webp" alt="company6" />
      </div>

      <div class="img-container">
        <img src="assets/images/company.webp" alt="company7" />
      </div>
    </div>

    <div class="row">
      <div class="img-container">
        <img src="assets/images/company.webp" alt="company15" />
      </div>

      <div class="img-container">
        <img src="assets/images/company.webp" alt="company16" />
      </div>

      <div class="img-container">
        <img src="assets/images/company.webp" alt="company17" />
      </div>

      <div class="img-container">
        <img src="assets/images/company.webp" alt="company18" />
      </div>

      <div class="img-container">
        <img src="assets/images/company.webp" alt="company19" />
      </div>

      <div class="img-container">
        <img src="assets/images/company.webp" alt="company20" />
      </div>

      <div class="img-container">
        <img src="assets/images/company.webp" alt="company21" />
      </div>

      
      <div class="img-container">
        <img src="assets/images/company.webp" alt="company6" />
      </div>

      <div class="img-container">
        <img src="assets/images/company.webp" alt="company7" />
      </div>
    </div>
    <div>
      <div></div>
    </div>
  </div>
</div>

<div class="border-bottom"></div>

<div class="third-container">
  <h1>Designed for revenue teams</h1>
  <div class="row" id="section">
    <div class="column">
      <img src="assets/images/img1.svg">
    </div>
    <div class="column" >
      <span class="sub-heading">MARKETING TEAMS</span>
      <span class="heading">Maximize your marketing</span>
      <p>Maximize the return on your marketing campaigns by generating more qualified leads more quickly.</p>

      <p>  Use our conversational chatbots and forms to instantly capture and qualify leads.</p>
        
       <p> Target website visitors with personalized content that drives higher levels of engagement.</p>
    </div>
  </div>

  <div class="row" id="section"> 
    <div class="column" >
      <span class="sub-heading">SALES TEAMS</span>
      <span class="heading">Increase your revenue</span>
      <p>Increase your revenue by converting more website leads more quickly.</p>

      <p>Use our conversational chatbots and forms to automatically qualify leads and instantly assign them to your team.</p>
        
       <p>Engage with qualified leads using live chat, instant meetings, or scheduled meetings.</p>
    </div>

    <div class="column">
      <img src="assets/images/img2.svg">
    </div>
  </div>

  <div class="row" id="section">
    <div class="column">
      <img src="assets/images/img3.svg">
    </div>
    <div class="column" >
      <span class="sub-heading">CUSTOMER SUCCESS TEAMS</span>
      <span class="heading">Grow your customers</span>
      <p>Grow your customers by engaging with the right ones at the right time.</p>

      <p>Use our conversational chatbots and forms to identify revenue opportunities with target accounts.</p>
        
       <p>Engage with customers using live chat, instant meetings, or scheduled meetings.</p>
    </div>
  </div>
</div>

<div class="border-bottom"></div>

<div class="third-container">
  <h1>Designed for lead acceleration</h1>

  <div class="row" id="section">
    <div class="column">
      <img src="assets/images/img4.svg">
    </div>
    <div class="column" >
      <span class="sub-heading">LEAD CAPTURE</span>
      <span class="heading">Capture more website leads</span>
      <p>Capture more website leads</p>

      <p>Capture better quality leads by targeting the right people with the right questions.</p>
        
       <p>Capture more lead information by simplifying the questions based on what you already know.</p>
    </div>
  </div>

  <div class="row" id="section">
    <div class="column" >
      <span class="sub-heading">LEAD QUALIFICATION</span>
      <span class="heading">Generate more qualified leads</span>
      <p>Generate more qualified leads than traditional forms by making the experience conversational.</p>

      <p>Generate qualified leads more quickly with automated questions or live chat conversations.</p>
        
       <p>Assign qualified leads instantly to the right team member based on the opportunity.</p>
    </div>
    <div class="column">
      <img src="assets/images/img5.svg">
    </div>
   
  </div>

  <div class="row" id="section">
    <div class="column">
      <img src="assets/images/img6.svg">
    </div>
    <div class="column" >
      <span class="sub-heading">LEAD ENGAGEMENT</span>
      <span class="heading">Engage with leads more quickly</span>
      <p>Engage with leads more quickly using live chat, instant meetings, or scheduled meetings.</p>

      <p>Engage with leads more effectively by assigning them to your team based on availability, priority, and other business rules.</p>
        
    </div>
  </div>


  </div>

  <div class="border-bottom"></div>

  <div class="third-container">
    <h1>Designed for your website</h1>
    <div class="box-container">
      <div class="box">
        <img class="logo" src="assets/images/ScheduleOnce logo.svg" alt="logo">
        <img class="icon" src="assets/images/ScheduleOnce icon.svg" alt="logo">
        
        <p class="box-content"><span>Smart scheduling</span> that connects prospects 
          and customers with the right people in your team</p>
          <button id="schedule-once">Learn More</button>

      </div>

      <div class="box">
        <img class="logo" src="assets/images/ChatOnce logo.svg" alt="logo">
        <img class="icon" src="assets/images/ChatOnce icon.svg" alt="logo">

        <p class="box-content"><span>Smart scheduling</span> that connects prospects 
          and customers with the right people in your team</p>
          <button id="chat-once">Learn More</button>

        
      </div>

      <div class="box">
        <img class="logo" src="assets/images/FormOnce logo.svg" alt="logo">
        <img class="icon" src="assets/images/FormOnce icon.svg" alt="logo">

        <p class="box-content"><span>Smart scheduling</span> that connects prospects 
          and customers with the right people in your team</p>
          <button id="form-once">Learn More</button>

        
      </div>

      <div class="box">
        <img class="logo" src="assets/images/SubmitOnce logo.svg" alt="logo">
        <img class="icon" src="assets/images/SubmitOnce icon.svg" alt="logo">

        <p class="box-content"><span>Smart scheduling</span> that connects prospects 
          and customers with the right people in your team</p>
          <button id="submit-once">Learn More</button>

        
      </div>

    </div>
  </div>
  <app-demo></app-demo>

